In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [537]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [551]:
answers = {'1': 'Pirates of the Caribbean: On Stranger Tides',
          '2': 'Gods and Generals',
          '3': 'Winnie the Pooh',
          '4': '110',
          '5': '107',
          '6': 'Avatar',
          '7': 'The Lone Ranger',
          '8': '1478',
          '9': 'The Dark Knight',
          '10': 'The Lone Ranger',
          '11': 'Drama',
          '12': 'Drama',
          '13': 'Peter Jackson',
          '14': 'Robert Rodriguez',
          '15': 'Chris Hemsworth',
          '16': 'Matt Damon',
          '17': 'Action',
          '18': 'K-19: The Widowmaker',
          '19': '2015',
          '20': '2014',
          '21': 'September',
          '22': '450',
          '23': 'Peter Jackson',
          '24': 'Four By Two Productions',
          '25': 'Midnight Picture Show',
          '26': "'Inside Out', 'The Dark Knight', '12 Years a Slave'",
          '27': 'Daniel Radcliffe & Rupert Grint'
          }

# 1. У какого фильма из списка самый большой бюджет?

In [0]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [538]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv')
grouped_mov = mov.groupby(['original_title'])['budget'].max().sort_values(ascending=False).head(5)
grouped_mov.index[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
answers['2'] = 'Gods and Generals'

In [347]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv', encoding='utf-8')
group_mov = mov.groupby(['original_title'])['runtime'].max().sort_values(ascending=False).index[0]
group_mov

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = 'Winnie the Pooh'

In [348]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv', encoding='utf-8')
group_mov = mov.groupby(['original_title'])['runtime'].max().sort_values(ascending=True).index[0]
group_mov

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = 110

In [16]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv', encoding='utf-8')
avg = mov['runtime'].mean()
round(avg)

110

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = 107

In [17]:
import pandas as pd
mov = pd.read_csv('movie_bd_v5.csv', encoding='utf-8')
avg = mov['runtime'].median()
avg

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'Avatar'

In [55]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['total'] = mov['revenue'] - mov['budget']
mov.sort_values('total', ascending=False).head(3)
mov.iloc[239]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = 'The Lone Ranger'

In [56]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['total'] = mov['revenue'] - mov['budget']
mov.sort_values('total').head(3)
mov.iloc[1245]['original_title']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = 1478

In [62]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['total'] = mov['revenue'] - mov['budget']
len(mov[mov['total'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight'

In [350]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov1 = mov[['original_title', 'revenue', 'release_year']].sort_values('release_year')
mov2 = mov1[mov1['release_year']==2008]
mov2[mov2['revenue'] == mov2['revenue'].max()]

      original_title     revenue  release_year
599  The Dark Knight  1001921825          2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'The Lone Ranger'

In [96]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['profit'] = mov['revenue'] - mov['budget']
mov1 = mov[['original_title', 'profit', 'release_year']].sort_values('release_year')
mov2 = mov1[(mov1['release_year']>=2012)&(mov1['release_year']<=2014)]
mov2[mov2['profit'] == mov2['profit'].min()]

       original_title     profit  release_year
1245  The Lone Ranger -165710090          2013

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'

In [282]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['genres'] = df.genres.str.split('|')
df = df.explode('genres')
df.genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Drama'

In [288]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['total'] = df['revenue'] - df['budget']
df = df[df['total']>0]
df['genres'] = df.genres.str.split('|')
df = df.explode('genres')
df.genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = 'Peter Jackson'

In [127]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['director'] = mov.director.str.split('|')
mov1 = mov.explode('director')
mov1.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'

In [539]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['director'] = mov.director.str.split('|')
mov = mov.explode('director')
mov[mov['genres'].str.contains('Action')]['director'].value_counts(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth'

In [228]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
df = mov[mov['release_year']==2012]
df.cast= df.cast.str.split('|')
df = df.explode('cast')
df.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon'

In [540]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df = df[df['budget'] > df['budget'].mean()]
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df['cast'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action'

In [278]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df = df[df['cast']=='Nicolas Cage']
df['genres'] = df.genres.str.split('|')
df = df.explode('genres')
df.genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

In [307]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['total'] = df['revenue'] - df['budget']
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df = df[df['production_companies'] == 'Paramount Pictures']
df = df.sort_values(by='total')
df.iloc[0][3]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = 2015

In [312]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = 2014

In [336]:
import pandas as pd

mov = pd.read_csv('movie_bd_v5.csv')
mov['total'] = mov['revenue'] - mov['budget']
mov['production_companies'] = mov.production_companies.str.split('|')
mov = mov.explode('production_companies')
mov = mov[mov.production_companies.str.contains('Warner Bros', na=False)]
mov.groupby(['release_year'])['total'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'September'

In [378]:
import pandas as pd
from datetime import datetime
df = pd.read_csv('movie_bd_v5.csv')
df.release_date = df.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df.release_date = df.release_date.apply(lambda x: datetime.strftime(x, '%B'))
df.release_date.value_counts().index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = 450

In [380]:
import pandas as pd
from datetime import datetime
df = pd.read_csv('movie_bd_v5.csv')
df.release_date = df.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df.release_date = df.release_date.apply(lambda x: datetime.strftime(x, '%B'))
df.query('release_date in ["June", "July", "August"]').shape[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'

In [400]:
import pandas as pd
from datetime import datetime
df = pd.read_csv('movie_bd_v5.csv')
df.release_date = df.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df.release_date = df.release_date.apply(lambda x: datetime.strftime(x, '%B'))
df['director'] = df.director.str.split('|')
df = df.explode('director')
df2 = df.query('release_date in ["December", "January", "February"]')
df2.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = 'Four By Two Productions'

In [536]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
columns = ['production_companies', 'original_title']
df = df[columns].copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['title_len'] = df['original_title'].apply(len)
df.groupby('production_companies').title_len.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'

In [520]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
columns = ['production_companies', 'overview']
df = df[columns].copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['film'] = df['overview'].astype(str).apply(len)
df_grouped = df.groupby('production_companies')[['film']].mean()
description = df_grouped['film'].idxmax()
description

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out', 'The Dark Knight', '12 Years a Slave'

In [531]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['vote_average'].quantile(q=0.99)
df = df[df['vote_average']>df['vote_average'].quantile(q=0.99)]
df[['original_title', 'vote_average']].sort_values(by='vote_average', ascending=False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = (('Daniel Radcliffe', 'Rupert Grint'), 8)

In [542]:
import pandas as pd
from collections import Counter
from itertools import combinations

df = pd.read_csv('movie_bd_v5.csv')
pair = Counter()
for i in range(0, len(df)):
    actor = df.cast[i].split('|')
    for j in list(combinations(actor, 2)):
        if j not in pair:
            pair[j] = 1
        else:
            pair[j] += 1
pair.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [554]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': "'Inside Out', 'The Dark Knight', '12 Years a Slave'",
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [555]:
len(answers)

27